@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
  background-color: #8000ff;
  font-family: 'Press Start 2P';
  overflow-x: scroll;

  display: grid;
  text-align: center;
  width: 100%;

  padding: 4%;
}

/*
div
*/

body > * {
    padding: 1%;
    margin-top: 3%;
    border-radius: 1vmax;
}

main {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 0;
}

main > * {
  padding: 1%;
  margin-top: 3%;
  border-radius: 1vmax;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #CCCCFF;
}

.headerCity {
  text-align: left;

  background-color: #CCCCFF;
}

.headerCityChild {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCFF;
}

.favourites {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #CCCCFF;
}

.favouritesAddCity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #CCCCFF;
}

.cities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vmax;
}

.city {
  margin-top: 5%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vmax;

  background-color: #CCCCFF;
}

.cityInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
}

footer {
  background-color: #CCCCFF;
  text-align: center;
}

/*
buttons
*/
.refreshButton {
  font-family: 'Press Start 2P';
  text-align: center;
  width: 20vmax;
  height: 4.5vmax;
  font-size: 2vmax;
  color: white;
  text-decoration: none;
  border-radius: 100vmax;
  background: #00BFFF;
  transition: 0.2s;
  margin-left: 2%;
}

.refreshButton:hover { background: #80A6FF; }

.refreshButton:active {
  background: #00FFFF;
  box-shadow: 0 3vmax #00FFFF inset;
  color: black;
}

.round {
  font-family: 'Press Start 2P';
  width: 8vmax;
  height: 4.5vmax;
  font-size: 2vmax;
  color: white;
  text-decoration: none;
  border-radius: 100vmax;
  background: #00BFFF;
  transition: 0.2s;
  margin-left: 2%;
}

.round:hover { background: #80A6FF; }

.round:active {
  background: #00FFFF;
  box-shadow: 0 3vmax #00FFFF inset;
  color: black;
}


/*
images
*/
.imgHeaderCity {
  width: 12vmax;
  height: 12vmax;
}

.imgCityWeather {
  width: 6vmax;
  height: 6vmax;
}


/*
ul
*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 2%;
  width: 95%;
}

ul li {
  padding: 0.2vmax;

  display: flex;
  justify-content: space-between;
}


/*
input
*/
.addNewCity {
  height: 3.5vmax;
  font-size: 1vmax;
  border-radius: 5vmax;
  font-family: inherit;
  padding: 0.5% 0.5%;
  flex: 1;
}


/*
fonts
*/
h1 {
    font-size: 3vmax;
    display: inline;
}

h2 {
    font-size: 3vmax;
}

h3 {
    font-size: 3vmax;
}

h4 {
  font-size: 2vmax;
}

.headerTempurature {
  font-size: 5vmax;
}

.temperatureInformation {
  font-size: 2vmax;
}

.weatherInfo {
  font-weight: bold;
  font-size: 1.2vmax;
}

.copyright {
  font-size: 1.5vmax;
  font-weight: bold;
}


/*
desktop version
*/
@media all and (max-width: 1000px) {
  .cities {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media all and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
