@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8000ff;
  font-family: 'Press Start 2P';
  overflow-x: scroll;

  display: grid;
  text-align: center;

  margin: 15px auto;
  padding: 15px;

  max-width: 1200px;
}

/*
div
*/

body > * {
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

main {
  display: grid;
  margin: 0;
  padding: 0;

  max-width: 1200px;
}

main > * {
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #CCCCFF;

  max-width: 1200px;
}

.headerCity {
  text-align: center;

  background-color: #CCCCFF;
}

.headerCityChild {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCCCFF;
  text-align: center;
}

.favourites {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #CCCCFF;
}

.favouritesAddCity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #CCCCFF;
}

.cities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.city {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  background-color: #CCCCFF;
}

.cityInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

footer {
  background-color: #CCCCFF;
  text-align: center;

  max-width: 1200px;
}

/*
buttons
*/
.refreshButton {
  font-family: 'Press Start 2P';
  text-align: center;
  width: 200px;
  height: 60px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: #00BFFF;
  transition: 0.2s;
}

.refreshButtonImg {
  width: 25px;
  height: 25px;
}

.refreshButton:hover { background: #80A6FF; }

.refreshButton:active {
  background: #00FFFF;
  box-shadow: 0 30px #00FFFF inset;
  color: black;
}

.round {
  font-family: 'Press Start 2P';
  width: 80px;
  height: 50px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  background: #00BFFF;
  transition: 0.2s;
}

.round:hover { background: #80A6FF; }

.round:active {
  background: #00FFFF;
  box-shadow: 0 30px #00FFFF inset;
  color: black;
}


/*
images
*/
.imgHeaderCity {
  width: 150px;
  height: 150px;
}

.imgCityWeather {
  width: 80px;
  height: 80px;
}


/*
ul
*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  width: 95%;
}

ul li {
  padding: 4px;

  display: flex;
  justify-content: space-between;
}


/*
input
*/
.addNewCity {
  height: 50px;
  width: 80%;
  font-size: 15px;
  border-radius: 30px;
  font-family: inherit;
  padding: 5px 5px;
}


/*
fonts
*/
h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

h4 {
  font-size: 15px;
}

.headerTempurature {
  font-size: 35px;
}

.temperatureInformation {
  font-size: 15px;
}

.weatherInfo {
  font-weight: bold;
  font-size: 10px;
}

.copyright {
  font-size: 15px;
  font-weight: bold;
}


/*
desktop version
*/
@media all and (max-width: 768px) {
  .cities {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .refreshButton {
    width: 60px;
    height: 60px;
  }
}

@media all and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}
